* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}
* body.dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color-dark)
}

:root {
    --body-color: rgb(238, 237, 237);
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --container-color: rgb(185, 227, 241);
    --toggle-color: rgb(67, 212, 105);
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);

    --body-color-dark: rgb(14, 16, 23);
    --sidebar-color-dark: rgb(28, 28, 39);
    --navbar-color-dark: rgb(33, 34, 45); 
    --container-color-dark: rgb(26, 27, 42);
    --toggle-color-dark: rgb(29, 44, 159);
    --text-color-dark: rgb(249, 247, 234);
    --border-color-dark: rgb(104, 125, 144);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark .text {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==== Sectioning off the main body ==== */
.money {
    font-size: 30px;
    top: 8px;
    right: 70px;
    position: absolute;
    z-index: 10;
}
button.logout {
    position: absolute;
    top: 8px;
    right: 6px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 36px;
    width: 60px;
    z-index: 11;
    background-color: var(--navbar-color);
    cursor: pointer;
}.dark button.logout {
    background-color: var(--navbar-color-dark);
    border: 1px solid var(--border-color-dark);
}
button.logout:hover {
    background-color:rgb(207, 207, 207);
    transition: var(--tran-02);
}.dark button.logout:hover {
    background-color: rgb(39, 39, 61);
    transition: var(--tran-02);
}
.title {
    font-size: 26px;
    display: block;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-left: 4px;
}
.stocks .title{
    display: none;
}
.stocks {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
}
.stocks-container {
    position: absolute;
    background-color: var(--navbar-color);
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    display: inline;
    white-space: nowrap;
    border-bottom: 1px solid var(--border-color);
}.dark .stocks-container {
    background-color: var(--navbar-color-dark);
    border-bottom: 1px solid var(--border-color-dark);
}
.stocks-container span {
    margin-top: 5px;
    display: inline-block;
}
.graph {
    position: absolute;
    top: 50px;
    height: calc(100% - 224px);
    width: 100%;
}
.graph-container {
    position: absolute;
    top: 40px;
    right: 10px;
    left: 10px;
    bottom: 5px;
    background-color: var(--container-color);
    border-radius: 0px;
}.dark .graph-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}

canvas {
    position: absolute;
    top: 90px;
}



.dark .strategies {
    border-bottom: 1px solid var(--border-color-dark);
}
.graph-container .amount {
    position: absolute;
    background-color: rgb(209, 243, 255);
    border: none;
    bottom: 5px;
    right: 40px;
    height: 28px;
    width: 140px;
    border-radius: 8px;
    outline: none;
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
}.dark .graph-container .amount {
    background-color: 1px solid var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.graph-container .confirm {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 243, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}.dark .graph-container .confirm {
    background-color: 1px solid var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}

.returns {
    position: absolute;
    bottom: 0px;
    height: 170px;
    width: 100%;
}
.returns-container {
    position: absolute;
    overflow-y: scroll;
    top: 5px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-color: var(--container-color);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}.dark .returns-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}

.returns-container span {
    display: flex
}
.past-trades {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.date-form {
    position: absolute;
    top: 36px;
    padding-left: 5px;
}

.form-date {
    color: var(--text-color);
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
}.dark .form-date {
    color: white;
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}

.type-form {
    position: absolute;
    margin-top: 36px;
    left: 130px;
    top: 0px;
}
.form-type {
    width: 110px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--container-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}.dark .form-type {
    background-color: var(--container-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--border-color-dark);
}

.amount-form {
    position: absolute;
    margin-top: 36px;
    left: 334px;
    top: 0px;
}.form-amount {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    bottom: 5px;
    right: 40px;
    height: 18px;
    width: 78px;
    border-radius: 8px;
    outline: none;
    padding-left: 5px;
    font-size: 14px;
}.dark .form-amount {
    color: var(--text-color-dark);
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.form-amount:focus {
    background-color: var(--container-color);
}.dark .form-amount:focus {
    background-color: var(--navbar-color-dark);
    transition: var(--tran-02);
}

.ai-type .strategies{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--container-color);
}.dark .ai-type .strategies{
    background-color: var(--container-color-dark)
}

.radio-input div{
    float: left;
    width: 25%;
    font-size: 14px;
    height: 40px;
    cursor: pointer
}
.radio-input div label{
    display: block;
    padding-top: 10px;
    cursor: pointer
}
.radio-input div:hover{
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
}.dark .radio-input div:hover{
    background-color: var(--border-color-dark);
    transition: var(--tran-02);
}


.stop {
    position: absolute;
    bottom: 5px;
    right: 40px;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 243, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}.dark .stop {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.stop img {
    position: absolute;
    top: 1px;
    left: 1px;
    margin-right: 6px;
    height: 28px;
}
.submit {
    position: absolute;
    display: block;
    height: 20px;
    bottom: 10px;
    right: 80px;
    cursor: pointer;
    background-color: var(--container-color);
    border-radius: 3px;
    border: 0.7px solid black;
    z-index: 100;
}.dark .submit {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
}



.submit:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
    border: 0.7px solid rgb(209, 243, 255);
}.dark .submit:hover {
    background-color: rgb(39, 39, 61);
    border: 0.7px solid rgb(39, 39, 61);
}
.past-trades {
    font-size: 16px;
}

.confirm img {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 28px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}.dark .modal-content {
    background-color: var(--container-color-dark);
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--border-color-dark);
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 8px;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}.dark .close:hover,
.dark .close:focus {
    color: var(--text-color-dark);
    text-decoration: none;
    cursor: pointer;
}

.canvas {
    z-index: 10;
}




@media only screen and (max-width: 560px){
    .ai-type .strategies {
        width: 100%;
        height: 60px;
    }
    .strategies div {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .strategies label{
        font-size: 13px;
    }
    .radio-input div label {
        padding-top: 0px;
    }
    input[type="radio"] {
        display: none;
    }
    .forms {
        position: absolute;
        bottom: 11.5em;
    }
    .date-form {
        margin-bottom: 20px;
        top: 0em;
        bottom: 4em;
        padding-bottom: 10px;
        padding-left: 5px;
    }
    .form-date {
        margin-left: 10px;
        width: 100px;
    }
    .type-form {
        top: 1.5em;
        bottom: 0em;
        left: 0em;
        padding-left: 5px;
    }
    .form-type {
        margin-left: 10px;
        width: 112px;
    }
    .amount-form {
        left: 0px;
        top: 5em;
        bottom: 0em;
        padding-left: 5px;
    }
    .form-amount {
        margin-left: 10px;
        width: 100px;
    }
}




@media only screen and (min-width: 768px){


    .returns {
        position: absolute;
        top: 50px;
        height: 300px;
        width: 250px
    }
    .returns-container {
        position: absolute;
        top: 20px;
        bottom: 10px;
        left: 20px;
        right: 10px;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        overflow-y: scroll;
    }

    .stocks {
        position: absolute;
        top: 350px;
        height: calc(100% - 382px);
        width: 218px;
    }
    .stocks-container {
        position: absolute;
        top: 10px;
        right: 10px;
        left: 20px;
        bottom: 20px;
        background-color: var(--container-color);
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        overflow-y: scroll;
    }.dark .stocks-container {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark);
    }

    .stocks-container span {
        display: flex
    }
    .graph {
        position: absolute;
        right: 0px;
        height: calc(100% - 50px);
        width: calc(100% - 250px);
    }
    .graph-container {
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 10px;
        right: 20px;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}