* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}
* body.dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color-dark)
}

:root {
    --body-color: rgb(238, 237, 237);
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --container-color: rgb(185, 227, 241);
    --toggle-color: rgb(67, 212, 105);
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);

    --body-color-dark: rgb(14, 16, 23);
    --sidebar-color-dark: rgb(28, 28, 39);
    --navbar-color-dark: rgb(33, 34, 45); 
    --container-color-dark: rgb(26, 27, 42);
    --toggle-color-dark: rgb(29, 44, 159);
    --text-color-dark: rgb(249, 247, 234);
    --border-color-dark: rgb(104, 125, 144);
    --hover-color-dark: rgb(15, 16, 25);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark .text {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==== Sectioning off the main body ==== */
.money {
    font-size: 30px;
    top: 8px;
    right: 70px;
    position: absolute;
    z-index: 10;
}
button.logout {
    position: absolute;
    top: 8px;
    right: 6px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 36px;
    width: 60px;
    z-index: 11;
    background-color: var(--navbar-color);
    cursor: pointer;
}.dark button.logout {
    background-color: var(--navbar-color-dark);
    border: 1px solid var(--border-color-dark);
}
button.logout:hover {
    background-color:rgb(207, 207, 207);
    transition: var(--tran-02);
}.dark button.logout:hover {
    background-color: rgb(39, 39, 61);
    transition: var(--tran-02);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}.dark .modal-content {
    background-color: var(--container-color-dark);
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--border-color-dark);
    border-radius: 5px;
    width: 50%;
    text-align: center;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 8px;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}.dark .close:hover,
.dark .close:focus {
    color: var(--text-color-dark);
    text-decoration: none;
    cursor: pointer;
}
.manage {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 250px;
}
.manage-container {
    position: absolute;
    top: 5px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--container-color);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow-y: scroll;
}.dark .manage-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.overall span {
    position: absolute;
    font-size: 28px;
    margin-top: 26px;
    margin-left: 30px;
}
.overall img{
    position: absolute;
    right: 0;
    height: 30px;
    padding-right: 5px;
    padding-top: 5px;
}
.manage .button {
    position: absolute;
    right: 0px;
    background-color: rgb(209, 243, 255);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border-top-right-radius: 0px;
}.dark .manage .button {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.dark .form-control {
    color: var(--text-color-dark);
}
.manage div {
    padding-right: 6px;
    font-size: 18px;
    padding-top: 22px;
}
.manage div input {
    height: 20px;
    width: 140px;
    font-size: 18px;
    background-color: var(--container-color);
    border: 0.7px solid black;
    border-radius: 3px;
    outline: none;
}.dark .manage div input {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
}
.manage div input:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
}.dark .manage div input:hover {
    background-color: var(--hover-color-dark);
    transition: var(--tran-02);
}
.manage div input:focus {
    background-color: rgb(209, 243, 255);
}.dark .manage div input:focus {
    background-color: var(--hover-color-dark);
}
.dark form label{
    color: var(--text-color-dark);
}
.form-select {
    width: 140px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--container-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}.dark .form-select {
    background-color: var(--container-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--border-color-dark);
}
.manage-container button {
    position: absolute;
    border: 0px;
    top: 0px;
    right: 0px;
    background-color: rgb(209, 243, 255);
    height: 26px;
    width: 34px;
    border-radius: 10px;
    border-top-right-radius: 0px;
}.dark .manage-container button {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.manage-container button img {
    display: block;
    position: absolute;
    top: 2px;
    height: 22px;
    width: 22px;
    left: 1px;
}
.manage-container button:hover {
    position: absolute;
    height: 26px;
    width: 26px;
    transition: var(--tran-02);
}
.form-control {
    height: 100px;
    width: 100%;
    position: absolute;
}
.columns {
    position: absolute;
    top: -20px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns p{
    flex: calc(50% - 20px);
    margin-bottom: 10px;
    box-sizing: border-box;
}

.manage div input {
    margin-left: 2px;
    height: 20px;
    width: 80px;
}



/* ==== Graph ==== */
.section-two {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 300px);
}
.chart-container {
    position: absolute;
    background-color: var(--container-color);
    top: 10px;
    bottom: 5px;
    left: 10px;
    right: 10px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}.dark .chart-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}












/* ==== Sectioning off the main body ==== */
@media only screen and (min-width: 560px){
    .section-one {
        position: absolute;
        height: 100%;
        width: 260px;
        left: 0;
    }
    
    .section-one .overall {
        position: absolute;
        top: 0px;
        margin-top: 50px;
        width: 100%;
        height: 170px;
    }
    .overall-container {
        position: absolute;
        top: 20px;
        bottom: 10px;
        left: 20px;
        right: 10px;
        background-color: var(--container-color);
        border-radius: 15px;
        border-top-left-radius: 0px;
    }.dark .overall-container {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark)
    }
    .overall .total{
        position: absolute;
        margin-top: 72px;
        font-size: 40px;
        margin-left: 34px;
    }
    .overall span {
        position: absolute;
        font-size: 28px;
        margin-top: 30px;
        margin-left: 10px;
    }
    .overall img{
        position: absolute;
        right: 0;
        height: 24px;
        padding-right: 5px;
        padding-top: 5px;
    }
    .overall .img-container {
        position: absolute;
        right: 0px;
        background-color: rgb(209, 243, 255);;
        height: 34px;
        width: 34px;
        border-radius: 10px;
        border-top-right-radius: 15px;
    }.dark .overall .img-container {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark)
    }
    /* ==== managing finance ==== */
    .section-one .manage {
        position: absolute;
        margin-top: 170px;
        bottom: 0;
        width: 100%;
        height: calc(100% - 220px);
    }
    .manage-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        overflow-y: scroll;
        top: 10px;
        bottom: 20px;
        right: 10px;
        left: 20px;
        background-color: var(--container-color);
        border-radius: 15px;
        border-bottom-left-radius: 0px;
    }.dark .manage-container {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark);
    }
    .manage .title {
        padding-right: 10px;
        font-size: 28px;
    }
    .manage div {
        padding-right: 6px;
        font-size: 18px;
        padding-top: 22px;
    }
    .manage div input {
        height: 20px;
        width: 140px;
        font-size: 18px;
        background-color: var(--container-color);
        border: 0.7px solid black;
        border-radius: 3px;
        outline: none;
    }

    .form-control {
        height: 100px;
        width: 100%;
    }
    .columns {
        left: 0px;
        top: 40px;
        padding-left: 10px;

        display: block;
    }
    
    .columns p{
        margin-bottom: 10px;
    }

    .dark form label{
        color: var(--text-color-dark);
    }
    .form-select {
        width: 130px;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: var(--text-color);
        background-color: var(--container-color);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }.dark .form-select {
        background-color: var(--container-color-dark);
        color: var(--text-color-dark);
        border: 1px solid var(--border-color-dark);
    }
    .manage-container button {
        position: absolute;
        border: 0px;
        top: 0px;
        right: 0px;
        background-color: rgb(209, 243, 255);
        height: 26px;
        width: 34px;
        border-radius: 10px;
        border-top-right-radius: 15px;
    }.dark .manage-container button {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark);
    }
    .manage-container button img {
        display: block;
        position: absolute;
        top: 2px;
        height: 22px;
        width: 22px;
        left: 1px;
    }
    
    
    /* ==== charts ==== */
    .section-two {
        position: absolute;
        width: calc(100% - 260px);
        top: 50px;
        left: 260px;
        height: calc(100% - 50px);
    }
    .chart-container {
        position: absolute;
        top: 20px;
        bottom: 20px;
        right: 20px;
        left: 10px;
        background-color: var(--container-color);
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
@media only screen and (max-width: 560px){
    .overall-container span {
        display: none;
    }
    .overall-container .total{
        display: none;
    }
    .manage-container .title {
        display: none;
    }
}