* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}

:root {
    --body-color: rgb(238, 237, 237);
    --body-color-dark: black;
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --navbar-color-dark: darkgreen; 
    --primary-color: red;
    --primary-color-dark: darkred;
    --toggle-color: rgb(67, 212, 105);
    --toggle-color-dark: grey;
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);
    --border-color-dark: white;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ==== Sectioning off the main body ==== */
.section-one {
    position: absolute;
    height: 100%;
    width: 800px;
    left: 0;
    border-right: 1px solid black;
}
.news {
    height: 10%;
}

.section-two {
    position: absolute;
    width: calc(100% - 800px);
    left: 800px;
    height: 100%;
}

.prices {
    height: 5%;
}
