* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}

:root {
    --body-color: rgb(238, 237, 237);
    --body-color-dark: black;
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --navbar-color-dark: darkgreen; 
    --primary-color: red;
    --primary-color-dark: darkred;
    --toggle-color: rgb(67, 212, 105);
    --toggle-color-dark: grey;
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);
    --border-color-dark: white;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Different sections of the page */


.section-one {
    position: absolute;
    height: 100%;
    width: 300px;
    left: 0;
}

.pnl {
    margin-top: 50px;
    position: absolute;
    height: 180px;
    width: 100%;
    border: 1px solid black;
}
.account {
    position: absolute;
    font-size: 80px;
    padding-left: 10px;
}
.profits {
    position: absolute;
    color: rgb(0, 180, 0);
    font-size: 50px;
    margin-top: 100px;
    margin-left: 130px;
}

.recent-trades {
    position: absolute;
    height: calc(100% - 233px);
    width: 100%;
    border: 1px solid black;
    bottom: 0;
}

.trade-divs {
    border: 1px dotted black;
    height: 9.6%

}
.section-two {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    right: 0;
}

.bar-chart {
    margin-top: 50px;
    position: absolute;
    height: calc(100% - 148px);
    width: 100%;
    border: 1px solid black;
}
.bar-chart img {
    height: 98%;
    width: 98%;
}

.ai-options {
    position: absolute;
    bottom: 0;
    height: 95px;
    width: 100%;
    border: 1px solid black;
}
.strategies {
    float: left;
    border: 1px dotted black;
    width: 24%;
    height: 100%;
}