{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Homepage</title>
    <link href="{% static 'news/news.css' %}" rel="stylesheet">
</head>
<body class="light">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button class="logout text">Logout</button>
    </form>
    <div class="money text">£{{ money_in_account }}</div>
    <section class="section-one">
        <div class="news-container">
            <form method="POST" id="post-form">
                {% csrf_token %}
                <div class="type-form">{{ stock_type_form.as_p }}</div>
                <br>
                <button class="submit text">Confirm</button>
                <br>
            </form>
            <br>

            <span class="news text">Relevance Score: {{ score_1 }}<br>{{ summary_1 }}</span>
            <div></div>
            <span class="news text"><br>Relevance Score: {{ score_2 }}<br>{{ summary_2 }}</span>
            <div></div>
            <span class="news text"><br>Relevance Score: {{ score_3 }}<br>{{ summary_3 }}</span>
            <div></div>
            <span class="news text"><br>Relevance Score: {{ score_4 }}<br>{{ summary_4 }}</span>
            <div></div>
            <span class="news text"><br>Relevance Score: {{ score_5 }}<br>{{ summary_5 }}</span>
            <div></div>
            <span class="news text"><br>Relevance Score: {{ score_6 }}<br>{{ summary_6 }}</span>
            <div></div>
        </div>
    </section>
    <section class="section-two">
        <div class="stock-prices-container">
            <div class="prices text">Apple: {{ apple }} {{ apple_change }}</div>
            <div class="prices text">Mirosoft: {{ microsoft }} {{ microsoft_change }}</div>
            <span class="text prices">Jhonson&Jhonson: {{ jnj }}, {{ jnj_change }}</span>
            <span class="text prices">Pfizer: {{ pfe }}, {{ pfe_change }}</span>
            <span class="text prices">JPMorgan: {{ jpm }}, {{ jpm_change }}</span>
            <span class="text prices">Bank Of America: {{ microsoft }}, {{ microsoft_change }}</span>
            <div class="prices text">Prices 7</div>
            <div class="prices text">Prices 8</div>
            <div class="prices text">Prices 9</div>
            <div class="prices text">Prices 10</div>
            <div class="prices text">Prices 11</div>
            <div class="prices text">Prices 12</div>
            <div class="prices text">Prices 13</div>
            <div class="prices text">Prices 14</div>
            <div class="prices text">Prices 15</div>
            <div class="prices text">Prices 16</div>
            <div class="prices text">Prices 17</div>
            <div class="prices text">Prices 18</div>
            <div class="prices text">Prices 19</div>
            <div class="prices text">Prices 20</div>
        </div>
    </section>
</body>
</html>
