{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Homepage</title>
    <link href="{% static 'trade/trade.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body class="light">
    <section class="section-one">
        <div class="place-order">
            <div class="place-order-container">
                <span class="title text">Place Trade</span>
                {% block content %}
                <form method="POST" id="post-form">
                    {% csrf_token %}
                    {{ place_trade_form.as_p }}

                    <button class="confirm text">Confirm</button>

                </form>
                <!-- <div class="buttons-buy-sell">
                    <button class="buy text">Buy</button>
                    <button class="sell text">Sell</button>
                </div>
                <span class="text">Amount: <input type="text"></span>
                <span class="stoploss text">Stop Loss: <input type="text"></span>
                <span class="takeprofit text">Take Profit: <input type="text"></span>
                <button class="confirm text">Confirm</button> -->
            </div>
        </div>
        <div class="stock-prices">
            <div class="stock-prices-container">
                <span class="text">Stock 1:</span>
                <span class="text">Stock 2:</span>
                <span class="text">Stock 3:</span>
                <span class="text">Stock 4:</span>
                <span class="text">Stock 5:</span>
                <span class="text">Stock 6:</span>
                <span class="text">Stock 7:</span>
                <span class="text">Stock 8:</span>
                <span class="text">Stock 9:</span>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="graph-container">
            <form method="GET" action="{% url 'trade' %}">

                {{ date_form.as_p }}
                {{ stock_type_form.as_p }}

                <button>Submit</button>

            </form>
            {% endblock content %}
            <canvas id="myChart"></canvas>
            <div id="result" >{{ result }}</div>
            <button id="confirm" class="confirm"></button>
            <button id="stop" class="stop"></button>
        </div>
    </section>
    <script src="{% static 'trade/trade.js' %}"></script>
</body>
</html>
