* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}
* body.dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color-dark)
}

:root {
    --body-color: rgb(238, 237, 237);
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --container-color: rgb(185, 227, 241);
    --toggle-color: rgb(67, 212, 105);
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);

    --body-color-dark: rgb(14, 16, 23);
    --sidebar-color-dark: rgb(28, 28, 39);
    --navbar-color-dark: rgb(33, 34, 45); 
    --container-color-dark: rgb(26, 27, 42);
    --toggle-color-dark: rgb(29, 44, 159);
    --text-color-dark: rgb(249, 247, 234);
    --border-color-dark: rgb(104, 125, 144);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark .text {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==== For Mobiles ==== */
/* ==== Sectioning off the main body ==== */
.money {
    font-size: 30px;
    top: 8px;
    right: 10px;
    position: absolute;
    z-index: 10;
}
label {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark label{
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-one {
    position: absolute;
    top: 80px;
    height: calc(100% - 80px);
    width: 100%;
}
.news-container {
    position: absolute;
    background-color: var(--container-color);
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border-radius: 15px;
    overflow-y: scroll;
}.dark .news-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.news {
    width: calc(100% - 4px);
    height: 80px;
    margin-top: 4px;
    margin-left: 4px;
}
.type-form {
    position: absolute;
    top: 0px;
}
.form-type {
    width: 120px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--container-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}.dark .form-type {
    background-color: var(--container-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--border-color-dark);
}
.submit {
    position: absolute;
    display: block;
    top: 19px;
    left: 230px;
    cursor: pointer;
    background-color: var(--container-color);
    border-radius: 3px;
    border: 0.7px solid black;
}.dark .submit {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
}
.submit:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
    border: 0.7px solid rgb(209, 243, 255);
}.dark .submit:hover {
    background-color: rgb(39, 39, 61);
    border: 0.7px solid rgb(39, 39, 61);
}

/* ==== Stock prices ==== */
.section-two {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--border-color);
}
.stock-prices-container {
    position: absolute;
    background-color: var(--navbar-color);
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    display: inline;
    white-space: nowrap;
}.dark .stock-prices-container {
    background-color: var(--navbar-color-dark);
    border: 1px solid var(--border-color-dark);
}
.prices {
    margin-top: 5px;
    display: inline-block;
}

/* ==== For Tablets and Desktops ==== */
@media only screen and (min-width: 768px){
    /* ==== Sectioning off the main body ==== */
    .section-one {
        position: absolute;
        top: 50px;
        height: calc(100% - 50px);
        width: calc(100% - 300px);
        left: 0;
    }
    .news-container {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 10px;
        bottom: 20px;
        padding: 6px;
        background-color: var(--container-color);
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    /* ==== Stock prices ==== */
    .section-two {
        position: absolute;
        top: 50px;
        width: 300px;
        right: 0px;
        height: calc(100% - 50px);
        border-bottom: none;
    }
    .stock-prices-container {
        position: absolute;
        top: 20px;
        left: 10px;
        right: 20px;
        bottom: 20px;
        height: calc(100% - 40px);
        width: calc(100% - 30px);
        background-color: var(--container-color);
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }.dark .stock-prices-container {
        background-color: var(--container-color-dark);
    }
    .prices {
        margin-left: 4px;
        display: block;
        height: 5%;
    }   
}
