{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Homepage</title>
    <link href="{% static 'news/news.css' %}" rel="stylesheet">
</head>
<body class="light">
    <section class="section-one">
        <div class="news-container">
            <div class="news text">News 1</div>
            <div class="news text">News 2</div>
            <div class="news text">News 3</div>
            <div class="news text">News 4</div>
            <div class="news text">News 5</div>
            <div class="news text">News 6</div>
            <div class="news text">News 7</div>
            <div class="news text">News 8</div>
            <div class="news text">News 9</div>
            <div class="news text">News 10</div>
        </div>
    </section>
    <section class="section-two">
        <div class="stock-prices-container">
            <div class="prices text">Prices 1</div>
            <div class="prices text">Prices 2</div>
            <div class="prices text">Prices 3</div>
            <div class="prices text">Prices 4</div>
            <div class="prices text">Prices 5</div>
            <div class="prices text">Prices 6</div>
            <div class="prices text">Prices 7</div>
            <div class="prices text">Prices 8</div>
            <div class="prices text">Prices 9</div>
            <div class="prices text">Prices 10</div>
            <div class="prices text">Prices 11</div>
            <div class="prices text">Prices 12</div>
            <div class="prices text">Prices 13</div>
            <div class="prices text">Prices 14</div>
            <div class="prices text">Prices 15</div>
            <div class="prices text">Prices 16</div>
            <div class="prices text">Prices 17</div>
            <div class="prices text">Prices 18</div>
            <div class="prices text">Prices 19</div>
            <div class="prices text">Prices 20</div>
        </div>
    </section>
</body>
</html>
