{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regsiter Page</title>

    <!--<link href="{% static 'logins/login-register.css' %}" rel="stylesheet"> -->
</head>
<body>
    {% block content %}
    {% if not request.user.is_authenticated %}
    <div class="background">
        <img class = background-img src="{% static 'logins/images/background.jpg' %}" alt="">
        {% csrf_token %}
        <form class="container" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<span class="login-register text">Sign Up</span>
            <input class = "text" type="text" placeholder="Enter Email" required>
            <input class = "text" type="password" placeholder="Enter Password" required>
            <input class = "text" type="password" placeholder="Confirm Password" required>
            <button class="text">Continue</button> -->
            <button type='submit'></button>>
        </form>
        {% else %}
            <span class="bottom-text text">Have an account Click here to <a class="link text" href="#">Sign In</a></span>
        {% endif %}

        {% endblock %}
    </div>
</body>
</html>