* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}
* body.dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color-dark)
}

:root {
    --body-color: rgb(238, 237, 237);
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --navbar-color-dark: darkgreen; 
    --container-color: rgb(185, 227, 241);
    --toggle-color: rgb(67, 212, 105);
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);

    --body-color-dark: rgb(14, 16, 23);
    --sidebar-color-dark: rgb(28, 28, 39);
    --navbar-color-dark: rgb(33, 34, 45); 
    --container-color-dark: rgb(26, 27, 42);
    --toggle-color-dark: rgb(29, 44, 159);
    --text-color-dark: rgb(249, 247, 234);
    --border-color-dark: rgb(104, 125, 144);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark .text {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==== Sectioning off the main body ==== */