* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}
* body.dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color-dark)
}

:root {
    --body-color: rgb(238, 237, 237);
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --container-color: rgb(185, 227, 241);
    --toggle-color: rgb(67, 212, 105);
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);

    --body-color-dark: rgb(14, 16, 23);
    --sidebar-color-dark: rgb(28, 28, 39);
    --navbar-color-dark: rgb(33, 34, 45); 
    --container-color-dark: rgb(26, 27, 42);
    --toggle-color-dark: rgb(29, 44, 159);
    --text-color-dark: rgb(249, 247, 234);
    --border-color-dark: rgb(104, 125, 144);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark .text {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==== Sectioning off the main body ==== */
.money {
    font-size: 30px;
    top: 8px;
    right: 60px;
    position: absolute;
    z-index: 10;
}
button.logout {
    position: absolute;
    top: 8px;
    right: 6px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 36px;
    width: 50px;
    z-index: 11;
    background-color: var(--navbar-color);
    cursor: pointer;
}.dark button.logout {
    background-color: var(--navbar-color-dark);
    border: 1px solid var(--border-color-dark);
}
button.logout:hover {
    background-color:rgb(207, 207, 207);
    transition: var(--tran-02);
}.dark button.logout:hover {
    background-color: rgb(39, 39, 61);
    transition: var(--tran-02);
}
.graph {
    position: absolute;
    top: 50px;
    height: calc(100% - 224px);
    width: 100%;
}
.graph-container {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 5px;
    background-color: var(--container-color);
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}.dark .graph-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.strategies {
    float: left;
    padding-top: 10px;
    width: 25%;
    height: 100%;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid black;;
}.dark .strategies {
    border-bottom: 1px solid var(--border-color-dark);
}
.graph-container .amount {
    position: absolute;
    background-color: white;
    bottom: 5px;
    right: 40px;
    height: 30px;
    width: 140px;
    border-radius: 8px;
}.dark .graph-container .amount {
    background-color: 1px solid var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.graph-container .confirm {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}.dark .graph-container .confirm {
    background-color: 1px solid var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}

.returns {
    position: absolute;
    bottom: 0px;
    height: 170px;
    width: 100%;
}
.returns-container {
    position: absolute;
    top: 5px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-color: var(--container-color);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}.dark .returns-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}

.returns-container span {
    display: flex
}
.title {
    font-size: 26px;
    display: block;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-left: 4px;
}
.past-trades {
    font-size: 20px;
    padding-left: 10px;
}
.date-form {
    padding-left: 5px;
}
.form-date {
    color: var(--text-color);
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
}.dark .form-date {
    color: var(--text-color-dark);
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.type-form {
    position: absolute;
    left: 140px;
    top: 0px;
}
.form-type {
    width: 120px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--container-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}.dark .form-type {
    background-color: var(--container-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--border-color-dark);
}
.submit {
    position: absolute;
    display: block;
    top: 19px;
    left: 360px;
    cursor: pointer;
    background-color: var(--container-color);
    border-radius: 3px;
    border: 0.7px solid black;
}.dark .submit {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
}
.submit:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
    border: 0.7px solid rgb(209, 243, 255);
}.dark .submit:hover {
    background-color: rgb(39, 39, 61);
    border: 0.7px solid rgb(39, 39, 61);
}
.past-trades {
    font-size: 16px;
}














@media only screen and (min-width: 768px){
    .returns {
        position: absolute;
        top: 50px;
        height: 300px;
        width: 250px
    }
    .returns-container {
        position: absolute;
        top: 20px;
        bottom: 10px;
        left: 20px;
        right: 10px;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        overflow-y: scroll;
    }

    .stocks {
        position: absolute;
        top: 350px;
        height: calc(100% - 350px);
        width: 250px;
    }
    .stocks-container {
        position: absolute;
        top: 10px;
        right: 10px;
        left: 20px;
        bottom: 20px;
        background-color: var(--container-color);
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        overflow-y: scroll;
    }.dark .stocks-container {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark);
    }

    .stocks-container span {
        display: flex
    }
    .graph {
        position: absolute;
        right: 0px;
        height: calc(100% - 50px);
        width: calc(100% - 250px);
    }
    .graph-container {
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 10px;
        right: 20px;
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}