{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Homepage</title>
    <link href="{% static 'main/stats.css' %}" rel="stylesheet">
    <script src="https//cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="light">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button class="logout text">Logout</button>
    </form>
    <div class="money text">£{{ money_in_account }}</div>
    <section class="section-one">
        <div class="pnl">
            <div class="pnl-container">
                <span class="text account">{{ money_in_account }}</span>
                <span class="profits">{{ last_trade }}</span>
            </div>
        </div>
        <div class="recent-trades">
            <div class="recent-trades-container">
                <span class="text title">Returns:</span>
                <div class="text trade-divs">{{ trade_1 }}</div>
                <div class="text trade-divs">{{ trade_2 }}</div>
                <div class="text trade-divs">{{ trade_3 }}</div>
                <div class="text trade-divs">{{ trade_4 }}</div>
                <div class="text trade-divs">{{ trade_5 }}</div>
                <div class="text trade-divs">{{ trade_6 }}</div>
                <div class="text trade-divs">{{ trade_7 }}</div>
                <div class="text trade-divs">{{ trade_8 }}</div>
                <div class="text trade-divs">{{ trade_9 }}</div>
                <div class="text trade-divs">{{ trade_10 }}</div>
            </div>
        </div>
    </section>

    <section class="section-two">
        <div class="bar-chart">
            <div class="bar-chart-container">
                {% block content %}
                <form method="GET" action="{% url 'stats' %}">

                    <div class="type-form">{{ stock_type_form.as_p }}</div>
    
                    <button class="submit text">Submit</button>
    
                </form>

                <div id='chart-container' class="chart" style="height: 300px;">{{ chart|safe }}</div>

                {% endblock content %}
            </div>
        </div>
    </section>

</body>
</html>