{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link href="{% static 'logins/login-register.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}
    {% if not request.user.is_authenticated %}
    <div class="background">
        <img class = background-img src="{% static 'logins/images/background.jpg' %}" alt="">
        {% csrf_token %}
        <form class="container" METHOD="POST">
            {% csrf_token %}
            <span class="login-register text">Sign In</span>
            {{ form.as_p }}
            <button class="text">Continue</button>
            <span class="bottom-text text">Don't have an account Click here to <a class="link text" href="/register/">Sign Up</a></span>
        </form>
    </div>
    {% else %}
        <div class="background">
            <img class = background-img src="{% static 'logins/images/background.jpg' %}" alt="">
            <div class="container">
                <span class="bottom-text text">You are already logged click to go to your Stats Page or Logout</span>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="logout text">Logout</button>
                </form>
                <a href="/stats"><button class="text">Stats</button></a>
            </div>
        </div>
    {% endif %}

    {% endblock %}
</body>
</html>