{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Homepage</title>
    <link href="{% static 'finance/finance.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body class="light">
    <div class="money text">£{{ user_total }}</div>
    <div id="error-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="error-message" class="text"></p>
        </div>
      </div>
    <section class="section-one">
        <div class="overall">
            <div class="overall-container">
                <span class="text">Overall amount</span>
                <div class="img-container">
                    <img src="{% static 'images/menu.png' %}">
                </div>
                <div class="text total">£{{ user_total }}</div>
            </div>
        </div>
        <div class="manage">
            <div class="manage-container">
                <span class="text title">Manage Finance</span>
                <form action="POST" id="post-form">
                    {% csrf_token %}
                    {{ manage_form.as_p }}
                    <button><img src="{% static 'images/right.png' %}"></button>

                </form>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="chart-container">
            <canvas id="Chart" width="400" height="400"></canvas>
        </div>
    </section>
    <script src="{% static 'finance/finance.js' %}"></script>
</body>
</html>