{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Homepage</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
</head>
<body class="light">
    <header>
        <div class="top-header">
            <button class="menu-button"></button>
            <img class="header-image" alt=logo>
        </div>
        <div class="sidebar close">
            <ul class="menu-links">
                <a class="back">
                    <img class="exit" src="{% static 'images/cross.png' %}" alt="">
                </a>
                <li class="nav-links">
                    <a href="/stats/">
                        <img src="{% static 'images/bar-chart.png' %}" alt="">
                        <span class="text side-text">My Stats</span>
                    </a>
                </li>
                <li class="nav-links">
                    <a href="/ai-trade/">
                        <img src="{% static 'images/robot.png' %}" alt="">
                        <span class="text side-text">AI Trading</span>
                    </a>
                </li>
                <li class="nav-links">
                    <a href="/trade/">
                        <img src="{% static 'images/trading.png' %}" alt="">
                        <span class="text side-text">User Trading</span>
                    </a>
                </li>
                <li class="nav-links">
                    <a href="/finance/">
                        <img src="{% static 'images/finance.png' %}" alt="">
                        <span class="text side-text">Finance</span>
                    </a>
                </li>
                <li class="nav-links">
                    <a href="/news/">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <span class="text side-text">News</span>
                    </a>
                </li>
                <div class="dark-mode">
                    <img src="{% static 'images/dark-mode.png' %}" alt="">
                    <span class="text side-text">Mode</span>
                    <button class="mode-button"><div></div></button>
                </div>
            </ul>
        </div>
    </header>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>