{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Trading page</title>
    <link href="{% static 'aitrade/ai-trade.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body class="light">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button class="logout text">Logout</button>
    </form>
    <div id="money_in_account" class="money text">£{{ money_in_account }}</div>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="error-message" class="text"></p>
        </div>
    </div>
    <div class="graph">
        <div class="graph-container">
            <div class="ai-options">
                <div class="strategies"><button class="text links">Moving Average</button></div>
                <div class="strategies"><button class="text links">Momentum</button></div>
                <div class="strategies"><button class="text links">VWAP</button></div>
                <div class="strategies"><button class="text links">Combination</button></div>
            </div>
            {% block content %}
            <form method="GET" id="get_request" action="{% url 'aitrade' %}">

                <div class="ai-type">{{ ai_type_form.as_p }}</div>
                <div class="date-form">{{ date_form.as_p }}</div>
                <div class="type-form">{{ stock_type_form.as_p }}</div>
                <div class="amount-form">{{ amount_form.as_p }}</div>

                <button class="submit text">Submit</button>

            </form>
            {% endblock content %}
            <canvas id="myChart"></canvas>

            <button id="confirm" class="confirm"><img src="{% static 'images/play.png' %}"></button>
            <button id="stop" class="stop"><img src="{% static 'images/pause.png' %}"></button>
        </div>
    </div>
    <div class="returns">
        <div class="returns-container">
            <span class="text title">Returns:</span>
            <span class="text past-trades">{{ trade_1 }}</span>
            <span class="text past-trades">{{ trade_2 }}</span>
            <span class="text past-trades">{{ trade_3 }}</span>
            <span class="text past-trades">{{ trade_4 }}</span>
            <span class="text past-trades">{{ trade_5 }}</span>
            <span class="text past-trades">{{ trade_6 }}</span>
            <span class="text past-trades">{{ trade_7 }}</span>
            <span class="text past-trades">{{ trade_8 }}</span>
            <span class="text past-trades">{{ trade_9 }}</span>
        </div>
    </div>
    <div class="stocks">
        <div class="stocks-container">
            <span class="text title">Stocks:</span>
            <span class="text past-trades">Apple: {{ apple }}, {{ apple_change }}</span>
            <span class="text past-trades">Microsoft: {{ microsoft }}, {{ microsoft_change }}</span>
            <span class="text past-trades">Stock 3</span>
            <span class="text past-trades">Stock 4</span>
        </div>
    </div>
    <script src="{% static 'aitrade/ai-trade.js' %}"></script>
</body>