{% include 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Trading page</title>
    <link href="{% static 'aitrade/ai-trade.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="light">
    <div class="money text">£{{ money_in_account }}</div>
    <div class="graph">
        <div class="graph-container">
            <div class="ai-options">
                <div class="text strategies">Option 1</div>
                <div class="text strategies">Option 2</div>
                <div class="text strategies">Option 3</div>
                <div class="text strategies">Option 4</div>
            </div>
            {% block content %}
            <form method="GET" action="{% url 'aitrade' %}">

                {{ date_form.as_p }}
                {{ stock_type_form.as_p }}

                <button>Submit</button>

            </form>
            {% endblock content %}
            <canvas id="myChart"></canvas>
            <div class="amount">

            </div>
            <button id="confirm" class="confirm"></button>
        </div>
    </div>
    <div class="returns">
        <div class="returns-container">
            <span class="text title">Returns:</span>
            <span class="text past-trades">Trade 1</span>
            <span class="text past-trades">Trade 2</span>
            <span class="text past-trades">Trade 3</span>
            <span class="text past-trades">Trade 4</span>
        </div>
    </div>
    <script src="{% static 'aitrade/ai-trade.js' %}"></script>
</body>