* body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color)
}
* body.dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color-dark)
}

:root {
    --body-color: rgb(238, 237, 237);
    --navbar-color: rgb(219, 219, 219);
    --sidebar-color: rgb(214, 214, 214);
    --container-color: rgb(185, 227, 241);
    --toggle-color: rgb(67, 212, 105);
    --text-color: rgb(29, 29, 29);
    --border-color: rgba(101, 101, 101, 0.711);

    --body-color-dark: rgb(14, 16, 23);
    --sidebar-color-dark: rgb(28, 28, 39);
    --navbar-color-dark: rgb(33, 34, 45); 
    --container-color-dark: rgb(26, 27, 42);
    --toggle-color-dark: rgb(29, 44, 159);
    --text-color-dark: rgb(249, 247, 234);
    --border-color-dark: rgb(104, 125, 144);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.text {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark .text {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==== Sectioning off the main body ==== */
label {
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark label {
    color: var(--text-color-dark);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.money {
    font-size: 30px;
    top: 8px;
    right: 60px;
    position: absolute;
    z-index: 10;
}
button.logout {
    position: absolute;
    top: 8px;
    right: 6px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 36px;
    width: 50px;
    z-index: 11;
    background-color: var(--navbar-color);
    cursor: pointer;
}.dark button.logout {
    background-color: var(--navbar-color-dark);
    border: 1px solid var(--border-color-dark);
}
button.logout:hover {
    background-color:rgb(207, 207, 207);
    transition: var(--tran-02);
}.dark button.logout:hover {
    background-color: rgb(39, 39, 61);
    transition: var(--tran-02);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}.dark .modal-content {
    background-color: var(--container-color-dark);
    margin: 15% auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--border-color-dark);
    border-radius: 5px;
    width: 50%;
    text-align: center;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 8px;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}.dark .close:hover,
.dark .close:focus {
    color: var(--text-color-dark);
    text-decoration: none;
    cursor: pointer;
}
.stock-prices {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
}
.stock-prices-container {
    position: absolute;
    background-color: var(--navbar-color);
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    display: inline;
    white-space: nowrap;
    border-bottom: 1px solid var(--border-color);
}.dark .stock-prices-container {
    background-color: var(--navbar-color-dark);
    border-bottom: 1px solid var(--border-color-dark);
}
.stock-prices-container span {
    margin-top: 5px;
    display: inline-block;
}
.place-order {
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
}
.place-order-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 5px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--container-color);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}.dark .place-order-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.place-order input {
    background-color: var(--container-color);
    border: 0.7px solid black;
    border-radius: 3px;
}.dark .place-order input {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
}
.place-order input:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02)
}.dark .place-order input:hover {
    background-color: rgb(39, 39, 61);
}
.place-order input:focus {
    background-color: rgb(209, 243, 255);
    outline: none;
}.dark .place-order input:focus {
    background-color: rgb(39, 39, 61);
}
.title {
    display: block;
    margin-right: 110px;
    margin-bottom: 10px;
    font-size: 26px;
}
.stoploss {
    margin-top: 3px;
    margin-bottom: 10px;
    display: block;
    margin-right: 12px;
}
.takeprofit {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 17px;
}
.buttons-buy-sell button {
    margin: 7px;
    width: 98px;
    height: 20px;
    font-size: 13px;
    background-color: var(--container-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--container-color);
}.dark .buttons-buy-sell button {
    background-color: var(--container-color-dark);
    border-bottom: 2px solid var(--container-color-dark);
}
.buy:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 154, 0);
    transition: var(--tran-04)
}.dark .buy:hover {
    border-bottom: 2px solid rgb(0, 154, 0);
}
.sell:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
    transition: var(--tran-04)
}.dark .sell:hover {
    border-bottom: 2px solid red;
}
.confirm {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: var(--container-color);
    border-radius: 3px;
    border: 0.7px solid black;
}.dark .confirm {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
    transition: var(--tran-02);
}
.confirm:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
    border: 0.7px solid rgb(209, 243, 255);
}.dark .confirm:hover {
    background-color: rgb(39, 39, 61);
    border: 0.7px solid rgb(39, 39, 61);
    transition: var(--tran-02);
}
.date-form {
    padding-left: 5px;
}
.form-date {
    color: var(--text-color);
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
}.dark .form-date {
    color: var(--text-color-dark);
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.type-form {
    position: absolute;
    left: 140px;
    top: 0px;
}
.form-type {
    width: 120px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--container-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}.dark .form-type {
    background-color: var(--container-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--border-color-dark);
}
.submit {
    position: absolute;
    display: block;
    top: 19px;
    left: 360px;
    cursor: pointer;
    background-color: var(--container-color);
    border-radius: 3px;
    border: 0.7px solid black;
}.dark .submit {
    background-color: var(--container-color-dark);
    border: 0.7px solid var(--border-color-dark);
}
.submit:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
    border: 0.7px solid rgb(209, 243, 255);
}.dark .submit:hover {
    background-color: rgb(39, 39, 61);
    border: 0.7px solid rgb(39, 39, 61);
}

.radio-input {
    display: flex;
}

.radio-input input[type="radio"] {
    position: absolute;
    display: block;
    height: 14px;
    margin-left: -30px;
    
}
.radio-input label {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 12px;
    margin-left: 14px;
}.dark .radio-input label {
    border: 1px solid var(--border-color-dark);
    transition: var(--tran-02);
}
.radio-input label:hover {
    background-color: rgb(209, 243, 255);
    transition: var(--tran-02);
}.dark .radio-input label:hover {
    background-color: rgb(39, 39, 61);
    border: 1px solid rgb(39, 39, 61);
    transition: var(--tran-02);
}

.form-control {
    color: var(--text-color);
}.dark .form-control {
    color: var(--text-color-dark);
}


/* ==== Graph of stock ==== */
.section-two {
    position: absolute;
    top: 80px;
    height: calc(100% - 280px);
    width: 100%;
}
.graph-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    background-color: var(--container-color);
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}.dark .graph-container {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.graph-container .confirm {
    position: absolute;
    top: -5px;
    right: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 243, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}.dark .graph-container .confirm {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.graph-container .stop {
    position: absolute;
    top: 5px;
    right: 40px;
    height: 30px;
    width: 30px;
    background-color: rgb(209, 243, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}.dark .graph-container .stop {
    background-color: var(--container-color-dark);
    border: 1px solid var(--border-color-dark);
}
.stop img {
    position: absolute;
    top: 1px;
    left: 1px;
    margin-right: 6px;
    height: 28px;
}
.confirm img {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 28px;
}














/* ==== Sectioning off the main body ==== */
@media only screen and (min-width: 768px){
    .section-one {
        position: absolute;
        height: 100%;
        width: 300px;
        left: 0;
    }
    .place-order {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        height: 250px;
        width: 100%;
    }
    .place-order-container {
        background-color: var(--container-color);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        top: 20px;
        bottom: 10px;
        right: 10px;
        left: 20px;
    }
    .place-order input {
        background-color: var(--container-color);
        border: 0.7px solid black;
        border-radius: 3px;
    }
    .place-order input:hover {
        background-color: rgb(209, 243, 255);
        transition: var(--tran-02)
    }
    .place-order input:focus {
        background-color: rgb(209, 243, 255);
        outline: none;
    }
    .title {
        display: block;
        margin-right: 110px;
        margin-bottom: 10px;
        font-size: 26px;
    }
    .stoploss {
        margin-top: 3px;
        margin-bottom: 10px;
        display: block;
        margin-right: 12px;
    }
    .buttons-buy-sell button {
        margin: 7px;
        width: 98px;
        height: 20px;
        font-size: 13px;
        background-color: var(--container-color);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid var(--container-color);
    }
    .buy:hover {
        cursor: pointer;
        border-bottom: 2px solid rgb(0, 154, 0);
        transition: var(--tran-04)
    }
    .sell:hover {
        cursor: pointer;
        border-bottom: 2px solid red;
        transition: var(--tran-04)
    }
    .confirm {
        display: block;
        margin-top: 10px;
        margin-left: 160px;
        cursor: pointer;
        background-color: var(--container-color);
        border-radius: 3px;
        border: none;
        border: 0.7px solid black;
    }
    .confirm:hover {
        background-color: rgb(209, 243, 255);
        transition: var(--tran-02);
        border: 0.7px solid rgb(209, 243, 255);
    }
    
    /* ==== Stock Prices ==== */
    .stock-prices {
        position: absolute;
        top: 300px;
        bottom: 0px;
        width: 100%;
        height: calc(100% - 300px);
    }
    .stock-prices-container {
        position: absolute;
        top: 10px;
        left: 20px;
        right: 10px;
        bottom: 20px;
        height: calc(100% - 32px);
        width: 90%;
        background-color: var(--container-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: none;
    }.dark .stock-prices-container {
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark)
    }
    .stock-prices span{
        width: calc(100% - 6px);
        margin-left: 6px;
    }
    
    /* ==== Section 2 ==== */
    .section-two {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 300px);
        top: 50px;
        left: 300px;
        height: calc(100% - 50px);
    }
    .graph-container {
        position: absolute;
        background-color: var(--container-color);
        top: 20px;
        bottom: 20px;
        left: 10px;
        right: 20px;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}